<div class="Cart">

    <div class="bg-cover"></div>
    <div class="cart-aside">
        <div class="wrap">
            <div class="d-flex justify-between">
                <h2 class="text-xxl fw-bold mb-3">Cart List<sub class="text-primary text-l">3</sub></h2>
                <span class="material-symbols-outlined text-xxl btn-close">
                    close
                    </span>
            </div>
    
          <ul class="list mb-3">
            <li class="list-item d-flex mb-1">
              <img src="https://fakeimg.pl/112/" alt="">
              <div class="text">
                <div class="d-flex justify-between">
                    <h3 class="fw-bold mb-1-sm">Tatami Cup</h3>
                    <span class="material-symbols-outlined btn-del text-l">
                        close
                        </span>
                </div>
                <div class="price">
                  <span class="text-gray">NT$1,080</span><del class="text-sm text-gray-light">NT$1,200</del>
                </div>
    
                <div class="d-flex justify-between mt-auto">
                  <div class="Num d-flex justify-between">
                    <span class="material-symbols-outlined">
                      remove
                      </span>
                    <span>1</span>
                    <span class="material-symbols-outlined">
                      add
                      </span>
                  </div>
                  <span class="fw-bold total-price">NT$1,080</span>
                </div>
    
              </div>
            </li>
            <li class="list-item d-flex">
              <img src="https://fakeimg.pl/112/" alt="">
              <div class="text">
                <div class="d-flex justify-between">
                    <h3 class="fw-bold mb-1-sm">Baifan Bowl</h3>
                    <span class="material-symbols-outlined btn-del text-l">
                        close
                        </span>
                </div>
                <div class="price">
                  <span class="text-gray">NT$1,800</span>
                </div>
    
                <div class="d-flex justify-between mt-auto">
                  <div class="Num d-flex justify-between">
                    <span class="material-symbols-outlined">
                      remove
                      </span>
                    <span>2</span>
                    <span class="material-symbols-outlined">
                      add
                      </span>
                  </div>
                  <span class="fw-bold total-price">NT$3,600</span>
                </div>
    
              </div>
            </li>
          </ul>
    
          <div class="Total">
            <div class="d-flex justify-between text-gray mb-2">
              <span>Subtotal</span><span>NT$4,680</span>
            </div>
            <div class="d-flex justify-between text-gray mb-3">
              <span>Shipping</span><span>NT$80</span>
            </div>
            <div class="d-flex justify-between text-l mb-3 fw-bold">
              <span>Total</span><span>NT$4,760</span>
            </div>
            <a href="CheckOut-1.html" class="btn-primary">Checkout</a>
          </div>
        </div>
      </div>

</div>