
<nav class="nav">
    <div class="container">
        <a href="index.html" class="logo">
            <h1>Craftsman</h1>
        </a>
        <ul>
            <li><a href="Product.html">Product</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="javascript:;"><span class="material-symbols-outlined" id="cart-icon">
                shopping_cart
                </span></a></li>
        </ul>
    </div>
</nav>