// 按鈕
.btn-primary{
    display: block;
    width: fit-content;
    color: #fff;
    background: $primary;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    padding:19px 45px;
    &:hover{
        background: darken($color: $primary, $amount: 3);
    }
}
