.check-out{
    .nav{
        ul{
            display: none;
        }
    }
    .container{
        width: 920px;
    }

    // 表格區塊
    .form{
        flex-grow: 2;
    }
    label{
        display: block;
    }
    input:not([type="checkbox"],.btn-primary),
    select{
        display: block;
        background: none;
        padding: 18px 16px 19px;
        border-radius: 4px;
        border-color: $gray-light;
    }
    input::placeholder{
        color: $gray;
    }
    input:focus-within{
        background: $gray-white;
    }
    .back:hover{
        .material-symbols-outlined{
            padding-left: 0px;
            padding-right: 8px;
        }
    }
    .material-symbols-outlined{
        vertical-align: middle;
        font-size: inherit;
        padding: 4px;
        transition: all 0.4s;
    }
    .form-footer{
        gap: 24px;
        padding-top: 8px;
        border-top: 1px solid $gray-light;
        margin-bottom: 160px;
    }

    // 右半部
    .total-Price-aside{
        flex-grow: 1;
        padding: 32px;
        background: $gray-white;
        height: fit-content;
        border-radius: 2px;

        img{
            margin-right: 16px;
        }
    }
    .subtotal{
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
        padding: 16px 0;
    }
    .total{
        padding-top: 16px;
    }
    .btn-primary{
        width: calc(50% - 8px);
    }
}