
// 第二頁的表格
.Information-list{
    li{
        position: relative;

        // input 開頭字
        span:nth-of-type(1){
            position: absolute;
            left: 16px;
        }
        input:only-of-type{
            padding-left: 95px;
            @include Mobile(){
                padding-right: 55px;
            }
            &::placeholder{
                font-size: 14px;
                line-height: 24px;
            }
        }
        // 向下箭頭
        .material-symbols-outlined{
            position: absolute;
            right: 16px;
            font-size: 24px;
            cursor: pointer;
        }

        // 改外框線
        &:first-of-type input{
            border-radius: 4px 4px 0 0;
        }
        &:nth-of-type(2) input{
            border-radius: 0 0 4px 4px;
            margin-top: -2px;
        }
    }
}