.check-out{
    .nav{
        ul{
            display: none;
        }
        .menu-sm{
            display: none;
        }
    }
    .container{
        max-width: 920px;
    }
    &>.container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .check-out-nav{
        width: 100%;
    }

    // 表格區塊
    .form{
        width: 58%;
        @include Mobile(){
            width: 100%;
        }
    }
    label{
        display: block;
    }
    input:not([type="checkbox"],.btn-primary),
    select{
        display: block;
        background: none;
        padding: 18px 16px 19px;
        border-radius: 4px;
        border-color: $gray-light;
    }
    input::placeholder{
        color: $gray;
    }
    input:focus-within{
        background: $gray-white;
    }
    .back{
        @include Mobile(){
            text-align: center;
        }
    }
    .back:hover{
        .material-symbols-outlined{
            padding-left: 0px;
            padding-right: 8px;
        }
    }
    .material-symbols-outlined{
        vertical-align: middle;
        font-size: inherit;
        padding: 4px;
        transition: all 0.4s;
    }
    .btn-primary{
        width: calc(50% - 8px);
        @include Mobile(){
            width: 100%;
            order: -1;
            margin-bottom: 27px;
        }
    }
    .form-footer{
        gap: 24px;
        padding-top: 8px;
        border-top: 1px solid $gray-light;
        margin-bottom: 160px;
        @include Mobile(){
            padding: 16px 0;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 0;
        }
    }

    // 右半部
    .total-Price-aside{
        width: 38%;
        padding: 32px;
        background: $gray-white;
        height: fit-content;
        border-radius: 2px;
        img{
            margin-right: 16px;
        }
        @include Mobile(){
            order: -1;
            width: 100%;
            padding: 16px;
        }
    }
    .subtotal{
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
        padding: 16px 0;
    }
    .total{
        padding-top: 16px;
    }
    .cart-drop-down-btn{
        display: none;
        @include Mobile(){
            display: block;
            display: flex;
            justify-content: space-between;
        }
        .material-symbols-outlined{
            font-size: 24px;
            padding: 0;
        }
        .material-symbols-outlined.active{
            transform: rotate(180deg);
        }
    }
    .cart-drop-down{
        @include Mobile(){
            padding-top: 16px;
            display: none;
        }
    }
}