.footer{
  background-image: url("https://fakeimg.pl/1280x400/3C3C3C/?retina=1&text=背景圖&font=noto");
  background-size: cover;
  background-position: center;
  height: 400px;
  @include Mobile(){
    height: 224px;
  }
  .container{
    height: 100%;
  }
}
.Subscribe{
  width: 40%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  @include Mobile(){
    width: 100%;
  }
  input{
    border: none;
    color: $gray-white;
  }
  input[type="email"]{
    flex-grow: 1;
    background: none;
    border: 1px solid #ffffff99;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    padding-left: 16px;
  }
  input::placeholder{
    color: #ffffff99;
  }
  .btn-primary{
    border-radius: 0px 4px 4px 0px;
    &:hover{
      cursor: pointer;
    }
  }
}
.footer-nav{
  background: $Black;
  padding: 32px 0;
  @include Mobile(){
    padding: 24px 0;
  }
  .logo{
    margin-right: 16px;
  }
  .list{
    display: flex;
    gap: 48px;
    color: #ffffffde;
    margin-left: auto;
    @include Mobile(){
      flex-direction: column;
      gap: 16px;
      margin-left: 0;
    }
  }
  .container{
    @include Mobile(){
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      p{
        order: 1;
      }
    }
  }
}