.Product-Show{
    position: relative;
    &.container{
        @include Mobile(){
            padding: 0;
        }
    }
    .content{
        width: 730px;
        @include Mobile(){
            width: 100%;
            img{
                height: 360px;
            }
        }
        .text{
            display: flex;
            gap: 30px;
            @include Mobile(){
                padding: 0 15px;
                flex-direction: column;
                gap: 16px;
                margin-top: 120px;
            }
        }
        p{
            font-size: 20px;
            width: 60%;
            @include Mobile(){
                font-size: 16px;
                width: 100%;
            }
        }
    }
    .product-add{
        position: absolute;
        right: 0;
        top: 212px;
        transform: translateY(-50%);
        background: #fff;
        border-radius: 2px;
        padding: 32px;
        padding-right: 0;
        width: 445px;
        
        @include Mobile(){
            width:calc(100vw - 30px);
            top: 386px;
            padding: 16px;
            right: 15px;
        }

        .Num{
            background: $gray-white;
            border-radius: 4px;
            span{
                display: block;
                padding: 19px 16px;
    
                &:first-of-type:hover, 
                &:last-of-type:hover {
                    cursor: pointer;
                    background: #d9d8d8;
                }
            }
        }
        .price{
            @include Mobile(){
                position: absolute;
                top: 115px;
                right: 16px;
            }
        }
    }
    .btn-group{
        display: flex;
        gap: 8px;
        @include Mobile(){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    
    .btn-primary{
        flex-grow: 1;
        @include Mobile(){
            width: 100%;
        }
    }
}

.recommend-list{
    display: flex;
    gap: 30px;
    margin-right: -85px;
    overflow: hidden;
    background: orange;
    @include Mobile(){
        gap: 16px;
        margin-right: -15px;
    }
    .list-item{
        flex-shrink: 0;
        @include Mobile(){
            width: 240px;
        }
    }
}